@import "../../styles/variables.scss";

.AppOptions {
  padding: 10px;
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.AppOptions_OptionsMenu {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;

}

.AppOptions__portrait {
  .OptionsButton {
    max-width: 100px;
  }
}

.OptionsButton {
  border-radius: 10px;
  border: 1px solid $buttonPrimaryBorderColor;
  background-color: $buttonPrimaryColor;
  color: $fontColor;
  width: 100%;
  padding: 15px 10px;
}