@import "./../../styles/variables.scss";

$optionsMenuMargin: 10px;
$optionsArrowSize: 20px;

.App {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: $bgColor;
}

.App__portrait {
  flex-direction: column;
}

.App_MainContainer {
  position: relative;
  align-self: center;
  flex: 1;
}

.OptionsMenu {
  position: absolute;
  background-color: $optionsBgColor;
  padding: $spacingMedium;
}

.OptionsMenu:not(.OptionsMenu__portrait) {
  top: $optionsMenuMargin;
  left: $optionsMenuMargin;
  bottom: $optionsMenuMargin;
  right: $optionsArrowSize + 5px;

  &::after {
    content: '';
    position: absolute;
    top: calc(50% - #{$optionsArrowSize});
    right: 0 - $optionsArrowSize;
    width: 0;
    height: 0;
    border-top: $optionsArrowSize solid transparent;
    border-bottom: $optionsArrowSize solid transparent;
    border-left: $optionsArrowSize solid $optionsBgColor;
  }
}

.App__portrait {
  .OptionsMenu {

    top: $optionsMenuMargin;
    left: $optionsMenuMargin;
    right: $optionsMenuMargin;
    bottom: 10px;

    &::after {
      content: '';
      position: absolute;
      bottom: 0 - $optionsArrowSize;
      left: calc(50% - #{$optionsArrowSize});
      width: 0;
      height: 0;
      border-left: $optionsArrowSize solid transparent;
      border-right: $optionsArrowSize solid transparent;

      border-top: $optionsArrowSize solid $optionsBgColor;
    }
  }
}

.OptionsMenu {

}