.AppAr {
  display: flex;
  justify-content: center;
  align-items: center;
}

.AppAr__portrait {

}

.ARContainer {
  height: 100%;
  position: relative;
  align-self: center;
}

.ARContainer__frontCamera {
  video, canvas {
    transform: rotateY(180deg);
  }
}

.ARScene {
  position: absolute;
  top: 0;

  &__flip {
    transform-origin: 0 0;
    transform: rotate(-90deg) translateX(-100%);
  }

  canvas {
    width: 100%;
    height: 100%;
  }
}

.ARSceneCSS__portrait {
  transform-origin: 0 0;
  transform: rotateY(180deg) translateX(-100%);
}

.Marker {
  transform: matrix3d(
                  0.9945492148399353, 0.027406739071011543, 0.10060247033834457, 0,
                  0.0443672239780426, -0.9843679666519165, -0.1704438179731369, 0,
                  0.09435851871967316, 0.17397819459438324, -0.9802184104919434, 0,
                  0.0022423588670790195, 1.1899935007095337, 5.90040397644043, 1);
  -webkit-transform-origin: center center 0px;
  -webkit-transition: all 0.2s ease 0s;
}