@import "./../../styles/variables.scss";

.Options {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  height: 100%;
}

.Options_Heading {
  color: $fontColor;
  padding-bottom: $spacingSmall;
  border-bottom: 1px solid $fontColor;
}

.InputGroup {
  padding: $spacingSmall;

  ~ .InputGroup {
    border-top: 1px solid #111;
  }

  .InputGroup_Row {
    padding: $spacingSmall;
    display: block;
    overflow: auto;

    @media only screen and (min-width: 480px) {
      display: flex;
    }

    justify-content: space-between;
    align-items: center;

    .Input {
      flex: 1;
    }
  }
}

.InputLabel {
  display: block;
  font-size: 0.9em;
  margin: $spacingSmall $spacingSmall $spacingSmall 0;
}

.Input {
  padding: $spacingSmall;
  width: 100%;
  box-sizing: border-box;
}

.ResetButton {
  border-radius: 10px;
  border: 1px solid $buttonPrimaryBorderColor;
  background-color: $buttonPrimaryColor;
  color: $fontColor;
  padding: $spacingMedium;
  width: 100%;
}